.contact-us-container {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 4rem);
  padding-bottom: 3.5rem;

  header {
    @include responsive-padding;
    position: relative;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(#{$assets-path}/green-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    h1 {
      font-size: 1.75rem;
      line-height: 2.75rem;
    }

    .here-link {
      color: $font-color-green;
      cursor: pointer;

      transition: filter 0.1s;
    }

    .whatsapp-expansion {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      height: fit-content;
      padding: 1rem 0;
      background-color: $green-bg-mirror-95;
      border-radius: 8px;
    
      font-size: 1.2rem;
    
      img {
        width: 90%;
      }
    
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 0 1rem;
        text-align: center;
      }
    }
  }

  form {
    @include responsive-padding;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;

    .form-input-wp {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 2rem;
      margin-top: 2rem;
      background-color: rgb(154, 236, 154);
      border-radius: 4px;
      border: 0;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  @media only screen and ($tablet-size) {
    header {
      .here-link:hover {
        filter: brightness(0.7);
        transition: filter 0.3s;
      }
    }

    
  }

  @media only screen and ($notebook-size) {
    header {
      .here-link:hover {
        filter: brightness(0.7);
        transition: filter 0.3s;
      }
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr;
      align-content: center;
      gap: 1rem;

      .form-input-wp {
        &:not(:first-child) {
          margin-top: 0;
        }
      }

      .wide-input {
        grid-column-start: span 3;
      }

      button {
       grid-column-start: span 3;
      }
    }
  }

  @media only screen and ($desktop-size) {
    header {
      .here-link:hover {
        filter: brightness(0.7);
        transition: filter 0.3s;
      }
    }
  }
}