.article-container {
  @include green-diagonal-gradient;
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  main {
    padding: 1rem;
    
    .article-content {
      width: 100%;
      background-color: $gray-bg-mirror;
      border-radius: 8px;
      padding: 1rem;
      
    }
    
    
  }
}