.print-calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 1rem 0.5rem;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.7);

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    strong {
      text-align: center;
    }

    .input-row {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      align-items: center;

      select {
        height: 1.5rem;
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;

    .content-row, header {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
    }
  }

  section + section {
    margin-top: 1rem;
  }
}