.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;

  img {
    height: 100%;
  }

  a {
    height: 100%;
  }

 @media only screen and ($tablet-size) {
    padding: 0 4rem;
  }

  @media only screen and ($notebook-size) {
    padding: 0 6rem;
  }

  @media only screen and ($desktop-size) {
    padding: 0 calc(8rem + 5vw);
  }
}