
$primary-font: 'Urbanist', sans-serif;

$assets-path: '../assets';

$primary-color: #1ace50;
$white-bg: #fafafa;
$gray-bg: #cecece;
$black-bg: #0f0f0f;

$green-bg-mirror-50: rgba(26, 206, 80, 0.5);
$green-bg-mirror-95: rgba(23, 161, 65, 0.95);

$font-color-green: #137731;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@import '../components/Header/Header';
@import '../components/Modal/Modal';
@import '../components/Trust/Trust';
@import '../components/Customers/Customers';
@import '../components/Footer/Footer';
@import '../components/WhatsappButton/WhatsappButton';
