* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
* a {
  text-decoration: none;
  color: inherit;
}
* a:focus-visible, * a:focus-within, * a:focus, * a:active, * a:target {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
}
.header-container img {
  height: 100%;
  border-radius: 16px;
  transition: background-color 0.1s;
}
.header-container a {
  height: 100%;
}
@media only screen and (min-width: 600px) {
  .header-container {
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .header-container {
    padding: 0 6rem;
  }
  .header-container img:hover {
    background-color: rgba(26, 206, 80, 0.5);
    transition: background-color 0.2s;
  }
}
@media only screen and (min-width: 1280px) {
  .header-container {
    padding: 0 calc(8rem + 5vw);
  }
}

.header-nav-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1.5rem;
  padding: 0 0.5rem;
}
.header-nav-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #0f0f0f;
  padding: 0 0.5rem;
  height: 60%;
  border-radius: 4px;
  transition: background-color 0.1s;
}
.header-nav-container a:hover {
  background-color: rgba(26, 206, 80, 0.5);
  transition: background-color 0.2s;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 4rem);
  min-height: 38rem;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}
.modal-container .blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/main-bg/wallpaperbetter4.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.modal-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  z-index: 1;
}
.modal-container section .modal-text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.modal-container section .modal-text h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: #fafafa;
  text-shadow: 2px 1px 5px rgb(25, 25, 25);
}
.modal-container section .modal-text h1:not(:last-child) {
  margin-bottom: 0.25rem;
}
.modal-container section .modal-text h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #3bff4b;
  text-shadow: 2px 1px 4px rgb(25, 25, 25);
}
.modal-container section .modal-text h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #fafafa;
  text-shadow: 1px 1px 4px rgb(25, 25, 25);
}
.modal-container section img {
  width: 13rem;
}
@media only screen and (min-width: 600px) {
  .modal-container {
    padding: 1rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .modal-container {
    padding: 1rem 6rem;
  }
  .modal-container section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    z-index: 1;
  }
  .modal-container section .modal-text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .modal-container section .modal-text h1 {
    font-size: 2rem;
  }
  .modal-container section img {
    width: 20rem;
  }
}
@media only screen and (min-width: 1280px) {
  .modal-container {
    padding: 1rem calc(8rem + 5vw);
  }
}

.trust-container {
  padding: 2rem 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 14rem;
  width: 100%;
  background-color: #fafafa;
}
@media only screen and (min-width: 600px) {
  .trust-container {
    padding: 2rem 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .trust-container {
    padding: 2rem 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .trust-container {
    padding: 2rem calc(8rem + 5vw) 0;
  }
}
.trust-container p {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
.trust-container h1 {
  font-family: "Alexandria", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.trust-container .feedbacks-wrapper {
  display: flex;
  flex-direction: column;
}
.trust-container .feedbacks-wrapper .feedback {
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 206, 80, 0.5);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
}
.trust-container .feedbacks-wrapper .feedback p {
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
}
.trust-container .feedbacks-wrapper .feedback span {
  margin-top: 0.5rem;
}

.services-container {
  padding: 0 1rem 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 1rem;
  background-color: #fafafa;
}
@media only screen and (min-width: 600px) {
  .services-container {
    padding: 0 4rem 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .services-container {
    padding: 0 6rem 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .services-container {
    padding: 0 calc(8rem + 5vw) 3rem;
  }
}
.services-container h1 {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Alexandria", sans-serif;
  font-weight: 600;
  padding-top: 2rem;
  border-top: 1px solid rgba(26, 206, 80, 0.5);
}
.services-container section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 2rem;
  align-items: center;
}
.services-container section .service-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  max-width: 25rem;
}
.services-container section .service-wrapper .service-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
}
.services-container section .service-wrapper span {
  text-align: center;
  font-family: "Alexandria", sans-serif;
  font-size: 1.25rem;
}
.services-container section hr {
  border-top: 1px solid rgba(26, 206, 80, 0.5);
  border-bottom: 0;
  width: 70%;
  display: flex;
  margin: 0 auto;
}
.services-container section .remanufatura {
  width: 18rem;
  height: 14rem;
  background: url(../assets/cartucho60.png);
}
.services-container section .outsourcing {
  width: 18rem;
  height: 14rem;
  background: url(../assets/outsourcing.png);
}
.services-container section .maintenance {
  width: 18rem;
  height: 14rem;
  background: url(../assets/manutencao.png);
}
@media only screen and (min-width: 1024px) {
  .services-container section {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    align-items: flex-start;
    justify-content: center;
  }
  .services-container section hr {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .services-container section {
    flex-direction: row;
    flex-wrap: nowrap;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .services-container section hr {
    display: none;
  }
}

.customers-container {
  padding: 2rem 1rem 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  background-color: #fafafa;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 20rem;
}
@media only screen and (min-width: 600px) {
  .customers-container {
    padding: 2rem 4rem 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .customers-container {
    padding: 2rem 6rem 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .customers-container {
    padding: 2rem calc(8rem + 5vw) 2rem;
  }
}
.customers-container h1 {
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Alexandria", sans-serif;
  font-weight: 600;
  padding-top: 2rem;
  border-top: 1px solid rgba(26, 206, 80, 0.5);
}
.customers-container .customers-wrapper {
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
}
.customers-container .customers-wrapper img {
  max-width: 100%;
}
.customers-container .customers-wrapper span {
  align-self: end;
  padding-bottom: 0.5rem;
}
.customers-container .customers-wrapper #artCLogo {
  width: 5.5rem;
}
.customers-container .customers-wrapper #interfortLogo {
  width: 5.5rem;
}
.customers-container .customers-wrapper #mareLogo {
  width: 6.75rem;
}
.customers-container .customers-wrapper #sterbomLogo {
  width: 4rem;
}
.customers-container .customers-wrapper #unilarLogo {
  width: 5rem;
}
.customers-container .customers-wrapper #natalcorLogo {
  width: 4.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 2.5rem;
}
.footer .information {
  display: flex;
  flex-direction: column;
  background-color: #cecece;
  padding: 1rem;
}
.footer .information .address {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer .information .address span {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
.footer .information .address h4:nth-of-type(2) {
  margin-top: 0.5rem;
}
.footer .information .address span + h4 {
  margin-top: 0.5rem;
}
.footer .information .phones {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.5rem;
}
.footer .information .phones .phone-link {
  transition: transform 0.1s;
}
.footer .information .phones .whatsapp-button-wrapper {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.6s;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-self: flex-start;
}
.footer .information .phones .whatsapp-button-wrapper img {
  width: 100%;
  transition: opacity 0.1s;
}
.footer .information .phones .whatsapp-button-wrapper img:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}
.footer .information a {
  color: inherit;
  text-decoration: none;
  line-height: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .information a:first-of-type {
  margin-top: 0.5rem;
}
@media only screen and (min-width: 600px) {
  .footer .information {
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .information .address {
    padding: 0 2rem;
    border-right: 1px solid #707070;
  }
  .footer .information .phones {
    padding: 0 2rem;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .information {
    padding: 1rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .information .address {
    padding: 0 2rem;
    border-right: 1px solid #707070;
  }
  .footer .information .phones {
    padding: 0 2rem;
  }
  .footer .information .phones .phone-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  .footer .information .phones .whatsapp-button-wrapper:hover {
    transform: translateY(-50%) scale(1.15);
    transition: transform 0.6s;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .information {
    padding: 1rem calc(8rem + 5vw);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .information .address {
    padding: 0 2rem;
    border-right: 1px solid #707070;
  }
  .footer .information .phones {
    padding: 0 2rem;
  }
}

.copyright-footer-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: 2.5rem;
  background-color: #0f0f0f;
  color: #fafafa;
  font-size: 0.875rem;
}

.whatsapp-button-container {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-self: flex-start;
}
.whatsapp-button-container img {
  width: 100%;
  transition: opacity 0.1s;
}
.whatsapp-button-container img:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}
.whatsapp-button-container .solid {
  opacity: 1;
  transition: opacity 0.3s;
}
@media only screen and (min-width: 1024px) {
  .whatsapp-button-container {
    right: 5rem;
  }
}

.whatsapp-expansion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 4.2rem;
  right: 7.4rem;
  width: 15rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0;
  background-color: rgba(23, 161, 65, 0.95);
  border-radius: 8px;
  font-size: 1.2rem;
}
.whatsapp-expansion img {
  width: 90%;
}
.whatsapp-expansion a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.maps-button-container {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  transition: transform 0.3s;
}
.maps-button-container img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .maps-button-container {
    right: 5rem;
  }
  .maps-button-container:hover {
    transform: translateY(-50%) scale(1.15);
    transition: transform 0.6s;
  }
}

.menu-button-container {
  position: relative;
}
.menu-button-container svg {
  cursor: pointer;
}
.menu-button-container .menu-modal {
  position: absolute;
  top: 2.75rem;
  right: 2.75rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 12rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  background-color: rgba(15, 15, 15, 0.95);
  color: #fafafa;
  font-weight: bold;
}
.menu-button-container .menu-modal hr {
  width: 90%;
  margin: 0.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.menu-button-container .menu-modal .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
  line-height: 1.75rem;
  border-radius: 4px;
  transition: background-color 0.1s;
}
.menu-button-container .menu-modal .menu-item + .menu-item {
  margin-top: 0.75rem;
}
.menu-button-container .menu-modal .menu-item a {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.menu-button-container .menu-modal .menu-item a:active {
  background-color: rgba(26, 206, 80, 0.5);
  transition: background-color 0.1s;
}
@media only screen and (min-width: 1024px) {
  .menu-button-container .menu-item:hover {
    background-color: rgba(26, 206, 80, 0.5);
    transition: background-color 0.2s;
  }
}

.top-button-container {
  position: fixed;
  bottom: 2.75rem;
  right: 0.5rem;
  cursor: pointer;
}
.top-button-container svg {
  transition: all 0.3s;
}
.top-button-container svg:hover {
  filter: brightness(0.7);
  transition: all 0.3s;
}
@media only screen and (min-width: 1024px) {
  .top-button-container {
    right: 1.5rem;
  }
}

.chat-container {
  padding: 0 1rem 0;
  margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
  .chat-container {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .chat-container {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .chat-container {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.chat-container .chat-bg {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.65);
}
.chat-container .chat-bg .header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.chat-container .chat-bg .header .avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: green;
}
.chat-container .chat-bg .header span {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 0.75rem;
}
.chat-container .chat-bg main {
  padding-bottom: 1rem;
}
.chat-container .chat-bg .chat-row {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
  width: 100%;
  min-height: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.chat-container .chat-bg .chat-row span, .chat-container .chat-bg .chat-row select, .chat-container .chat-bg .chat-row input {
  display: flex;
  align-items: center;
  min-height: 2rem;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  margin-right: 0.4rem;
  border: 0;
  border-radius: 16px;
  font-size: 1rem;
}
.chat-container .chat-bg .chat-row select {
  height: 2rem;
}
.chat-container .chat-bg .answer {
  justify-content: flex-end;
}
.chat-container .chat-bg .answer span, .chat-container .chat-bg .answer select, .chat-container .chat-bg .answer input {
  background-color: #1fc2eb;
}
.chat-container .chat-bg .question {
  justify-content: flex-start;
}
.chat-container .chat-bg .question .question-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(36, 219, 36, 0.9);
}
.chat-container .chat-bg .question .question-avatar img {
  width: 32px;
}
.chat-container .chat-bg .question span, .chat-container .chat-bg .question select, .chat-container .chat-bg .question input {
  background-color: #1feb74;
  margin-left: 0.5rem;
  margin-right: 0;
}
.chat-container .chat-bg .btn-continue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  width: 6rem;
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #e3f5ea;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
}
.chat-container .chat-bg .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.5rem 1rem;
}
.chat-container .chat-bg .footer input {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem;
}

.article-container {
  background: rgb(255, 255, 255);
  background: linear-gradient(330deg, rgb(255, 255, 255) 60%, rgb(128, 194, 129) 80%, rgb(18, 150, 27) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}
.article-container .article-main {
  padding: 1rem 1rem 1rem;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 17.6875rem);
  height: 100%;
}
@media only screen and (min-width: 600px) {
  .article-container .article-main {
    padding: 1rem 4rem 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .article-container .article-main {
    padding: 1rem 6rem 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .article-container .article-main {
    padding: 1rem calc(8rem + 5vw) 1rem;
  }
}
.article-container .article-main .article-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 8px;
  padding: 1.5rem 1rem;
  gap: 1.5rem;
}
.article-container .article-main .article-content img {
  width: 100%;
  max-width: 40rem;
  align-self: center;
  border-radius: 8px;
  box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.5);
}
.article-container .article-main .article-content p {
  line-height: 1.25rem;
}
@media only screen and (min-width: 600px) {
  .article-container .article-main > .article-content > img {
    max-width: 30rem;
  }
}

.article-header {
  width: 100%;
}
.article-header header {
  padding: 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  gap: 1.25rem;
  background-color: rgba(73, 134, 63, 0.2);
}
@media only screen and (min-width: 600px) {
  .article-header header {
    padding: 2rem 4rem 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .article-header header {
    padding: 2rem 6rem 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .article-header header {
    padding: 2rem calc(8rem + 5vw) 2rem;
  }
}
.article-header header nav {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
}
.article-header header nav a {
  font-weight: 600;
}
.article-header header nav .nav-variable-wrapper {
  display: flex;
  gap: 0.5rem;
}
.article-header header nav .nav-variable-wrapper img {
  width: 0.6rem;
}
.article-header header nav .nav-variable-wrapper span {
  cursor: pointer;
}

.faq-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 4rem);
  background-color: #fafafa;
  padding-bottom: 3.5rem;
}
.faq-container header {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.faq-container header .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  background: url(../assets/green-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
.faq-container header h1 {
  font-size: 2rem;
  line-height: 2.75rem;
  z-index: 1;
}
.faq-container .faq-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}
.faq-container .faq-categories .faq-category {
  display: grid;
  grid-template-columns: 1fr 30%;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 0 0.5rem;
  background-color: #137731;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
}
.faq-container .faq-categories .faq-category .react-reveal:nth-child(2) {
  justify-self: center;
}
.faq-container .faq-categories .faq-category .toner-card {
  background: url(../assets/faq-cards/toner1.jpg);
  background-position: 10%;
}
.faq-container .faq-categories .faq-category .drum-card {
  background: url(../assets/faq-cards/fotocondutor.png);
  background-position: 95%;
}
.faq-container .faq-categories .faq-category .error-card {
  background: url(../assets/faq-cards/problems2.jpg);
  background-position: 40%;
}
.faq-container .faq-categories .faq-category .bulk-card {
  background: url(../assets/faq-cards/bulk-ink.jpg);
  background-position: 15%;
}
.faq-container .faq-categories .faq-category .faq-category-img {
  height: 5rem;
  width: 4rem;
  border-radius: 4px;
  transform: rotate(10deg) translateY(0.5rem) translateX(0.1rem);
  background-size: cover;
  box-shadow: -2px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
.faq-container .faq-categories .faq-category span {
  color: #fafafa;
  font-size: 1.25rem;
  font-weight: 600;
}
.faq-container .faq-categories .faq-category span#drum-card-text {
  font-size: 1.125rem;
}
@media only screen and (min-width: 600px) {
  .faq-container header {
    padding: 1rem 4rem;
  }
  .faq-container .faq-categories {
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .faq-container .faq-categories .faq-category {
    width: 15rem;
  }
  .faq-container .faq-categories .faq-category + .faq-category {
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .faq-container header {
    padding: 1rem 6rem;
  }
  .faq-container .faq-categories {
    padding: 0 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .faq-container .faq-categories .faq-category {
    width: 15rem;
  }
  .faq-container .faq-categories .faq-category + .faq-category {
    margin: 0;
  }
  .faq-container .faq-categories .faq-category:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.2s;
  }
}
@media only screen and (min-width: 1280px) {
  .faq-container header {
    padding: 1rem calc(8rem + 5vw);
  }
  .faq-container .faq-categories {
    padding: 0 calc(8rem + 5vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .faq-container .faq-categories .faq-category {
    width: 15rem;
  }
  .faq-container .faq-categories .faq-category + .faq-category {
    margin: 0;
  }
}

.faq-toner-container {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(330deg, rgb(255, 255, 255) 60%, rgb(128, 194, 129) 80%, rgb(18, 150, 27) 100%);
}
.faq-toner-container section {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
@media only screen and (min-width: 600px) {
  .faq-toner-container section {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .faq-toner-container section {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .faq-toner-container section {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.faq-toner-container section .question-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.25rem;
  border-radius: 12px;
  transition: background-color 0.1s;
}
.faq-toner-container section .question-row span {
  font-size: 1.125rem;
  font-weight: 600;
}
.faq-toner-container section img {
  width: 0.9rem;
}
@media only screen and (min-width: 1024px) {
  .faq-toner-container .question-row:hover {
    background-color: rgba(73, 134, 63, 0.1);
    transition: background-color 0.2s;
  }
}

.contact-us-container {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 4rem);
  padding-bottom: 3.5rem;
  overflow: hidden;
}
.contact-us-container header {
  padding: 0 1rem 0;
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .contact-us-container header {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-us-container header {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-us-container header {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.contact-us-container header .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  background: url(../assets/green-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
.contact-us-container header h1 {
  font-size: 1.75rem;
  line-height: 2.75rem;
  z-index: 1;
}
.contact-us-container header .here-link {
  color: #137731;
  cursor: pointer;
  transition: filter 0.1s;
}
.contact-us-container header .whatsapp-expansion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0;
  background-color: rgba(23, 161, 65, 0.95);
  border-radius: 8px;
  font-size: 1.2rem;
}
.contact-us-container header .whatsapp-expansion img {
  width: 90%;
}
.contact-us-container header .whatsapp-expansion a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 1rem;
  text-align: center;
}
.contact-us-container form {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
@media only screen and (min-width: 600px) {
  .contact-us-container form {
    padding: 0 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-us-container form {
    padding: 0 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-us-container form {
    padding: 0 calc(8rem + 5vw) 0;
  }
}
.contact-us-container form .form-input-wp {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.contact-us-container form .form-input-wp:not(:first-child) {
  margin-top: 1.5rem;
}
.contact-us-container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  margin-top: 2rem;
  background-color: rgb(154, 236, 154);
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.contact-us-container form button:disabled {
  cursor: not-allowed;
}
@media only screen and (min-width: 600px) {
  .contact-us-container header .here-link:hover {
    filter: brightness(0.7);
    transition: filter 0.3s;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-us-container header .here-link:hover {
    filter: brightness(0.7);
    transition: filter 0.3s;
  }
  .contact-us-container form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 1fr 1fr;
    align-content: center;
    gap: 1rem;
  }
  .contact-us-container form .form-input-wp:not(:first-child) {
    margin-top: 0;
  }
  .contact-us-container form .wide-input {
    grid-column-start: span 2;
  }
  .contact-us-container form button {
    grid-column-start: span 3;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-us-container header .here-link:hover {
    filter: brightness(0.7);
    transition: filter 0.3s;
  }
}

.about-us-container {
  padding: 2rem 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 20rem;
  width: 100%;
  background-color: #fafafa;
}
@media only screen and (min-width: 600px) {
  .about-us-container {
    padding: 2rem 4rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .about-us-container {
    padding: 2rem 6rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-container {
    padding: 2rem calc(8rem + 5vw) 0;
  }
}/*# sourceMappingURL=App.css.map */