
$primary-font: 'Urbanist', sans-serif;

$assets-path: '../assets';

// Colors Variables
$primary-color: #1ace50;
$primary-color-2: #108a35;
$white-bg: #fafafa;
$gray-bg-mirror: rgba(206, 206, 206, 0.3);
$gray-bg: #cecece;
$darkgray-bg: #707070;
$black-bg: #0f0f0f;
$black-bg-mirror-95: rgba(15, 15, 15, 0.95);
$green-bg-mirror-50: rgba(26, 206, 80, 0.5);
$green-bg-mirror-95: rgba(23, 161, 65, 0.95);
$font-color-green: #137731;

// Media Variables
$tablet-size: "min-width: 481px";
$notebook-size: "min-width: 1025px";
$desktop-size: "min-width: 2561px";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  -webkit-tap-highlight-color: transparent; // remove color highlight on tap

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
    // -webkit-tap-highlight-color: transparent;
    &:focus-visible, &:focus-within, &:focus, &:active, &:target {
      border: 0;
      outline: 0;
      background-color: transparent;
    }
  }
}

// Mixins
@mixin green-diagonal-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(330deg, rgba(255,255,255,1) 60%, rgba(128,194,129,1) 80%, rgb(18, 150, 27) 100%);
}

// Module Imports
@import '../components/Header/Header';
@import '../components/HeaderNav/HeaderNav';
@import '../components/Modal/Modal';
@import '../components/Trust/Trust';
@import '../components/Customers/Customers';
@import '../components/Footer/Footer';
@import '../components/CopyrightFooter/CopyrightFooter';
@import '../components/WhatsappButton/WhatsappButton';
@import '../components/MapsButton/MapsButton';
@import '../components/MenuButton/MenuButton';
@import '../components/TopButton/TopButton';

@import '../articles/Articles';
@import '../components/ArticleHeader/ArticleHeader';

@import '../pages/FAQ/FAQ';
@import '../pages/FAQ/FaqToner/FaqToner';
@import '../pages/RequestQuote/RequestQuote';
