.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .address {
    display: flex;
    flex-direction: column;
    background-color: $gray-bg;
    padding: 1rem;

    span {
      margin-top: 0.5rem;
      line-height: 1.5rem;
    }

    span + h4 {
      margin-top: 0.5rem;
    }
  }

  .copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: $black-bg;
    color: $white-bg;
    font-size: 0.875rem;

  }
}