.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 2.5rem;

  .information {
    display: flex;
    flex-direction: column;
    background-color: $gray-bg;
    padding: 1rem;

    .address {
      display: flex;
      flex-direction: column;
      position: relative;

      span {
        margin-top: 0.5rem;
        line-height: 1.5rem;
      }
      h4:nth-of-type(2) {
        margin-top: 0.5rem;
      }
      span + h4 {
        margin-top: 0.5rem;
      }
    }

    .phones {
      display: flex;
      flex-direction: column;
      position: relative;

      margin-top: 0.5rem;
    }

    a {
      color: inherit;
      text-decoration: none;
      line-height: 1.5rem;
      width: fit-content;

      &:first-of-type {
        margin-top: 0.5rem;
      }
    }

    @media only screen and ($notebook-size) {
      padding: 1rem 4rem;

      display: grid;
      grid-template-columns: 1fr 1fr;

      .address {
        padding: 0 2rem;
        border-right: 1px solid $darkgray-bg;
      }

      .phones {
        padding: 0 2rem;
      }
    }
  }

  // .copyrights {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   width: 100%;
  //   height: 2.5rem;
  //   background-color: $black-bg;
  //   color: $white-bg;
  //   font-size: 0.875rem;
  // }
}