.article-header {
  
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    gap: 1.25rem;
    background-color: rgba(73, 134, 63, 0.2);

    nav {
      display: flex;
      gap: 0.5rem;
      font-weight: 600;
      a {
        font-weight: 600;
      }

      .nav-variable-wrapper {
        display: flex;
        gap: 0.5rem;
        img {
          width: 0.6rem;
        }
      }
    }
  }

  @media only screen and ($notebook-size) {
    header {
      padding: 2rem 4rem;
    }
  }
}