.faq-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 4rem);
  background-color: $white-bg;
  padding-bottom: 3.5rem;

  header {
    position: relative;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;

    .header-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 20rem;
      width: 100%;

      background: url(#{$assets-path}/green-bg.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;
    }

    h1 {
      font-size: 2rem;
      line-height: 2.75rem;
      z-index: 1;
    }
  }

  .faq-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;

    .faq-category {
      display: grid;
      grid-template-columns: 1fr 30%;
      align-items: center;
      height: 7rem;
      width: 100%;
      padding: 0 0.5rem;
      background-color: $font-color-green;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.1s;

      .react-reveal:nth-child(2) {
        justify-self: center;
      }

      .toner-card {
        background: url(#{$assets-path}/faq-cards/toner1.jpg);
        background-position: 10%;
      }
      .drum-card {
        background: url(#{$assets-path}/faq-cards/fotocondutor.png);
        background-position: 95%;
      }
      .error-card {
        background: url(#{$assets-path}/faq-cards/problems2.jpg);
        background-position: 40%;
      }
      .bulk-card {
        background: url(#{$assets-path}/faq-cards/bulk-ink.jpg);
        background-position: 15%;
      }
      .faq-category-img {
        height: 5rem;
        width: 4rem;
        border-radius: 4px;
        transform: rotate(10deg) translateY(0.5rem) translateX(0.1rem);
        background-size: cover;
        box-shadow: -2px 3px 7px 0px rgba(0,0,0,0.5);
      }

      span {
        color: $white-bg;
        font-size: 1.25rem;
        font-weight: 600;

        &#drum-card-text {
          font-size: 1.125rem;
        }
      }
    }
  }

  @media only screen and ($tablet-size) {

    header {
      padding: 1rem 4rem;
    }
    // padding: 1rem 4rem;

    .faq-categories {
      padding: 0 4rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      .faq-category {
        width: 15rem;

        & + .faq-category {
          margin: 0;
        }
      }
    }
  }

  @media only screen and ($notebook-size) {
    // padding: 1rem 6rem;
    header {
      padding: 1rem 6rem;
    }

    .faq-categories {
      padding: 0 6rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      .faq-category {
        width: 15rem;

        & + .faq-category {
          margin: 0;
        }

        &:hover {
          // transform: translateY(-3px);
          -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
          -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
          transition: box-shadow 0.2s;
        }
      }
    }
  }

  @media only screen and ($desktop-size) {
    // padding: 1rem calc(8rem + 5vw);
    header {
      padding: 1rem calc(8rem + 5vw);
    }

    .faq-categories {
      padding: 0 calc(8rem + 5vw);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      .faq-category {
        width: 15rem;

        & + .faq-category {
          margin: 0;
        }
      }
    }
  }
}